<div class="jumbotron">
  <div class="row">
    <div class="lead">
      <label for="gas">Gas Price</label>
      $ <input id = "gas" type="text" name="convert" step="0.01" size="5"> /gal
      <input id="convert" class="btn btn-primary" type="button" value="Convert">
    </div>
  </div>
  <div class="row">
    <div id="rate-ca" class="lead col-md-4 col-xs-4 panel panel-success">USD->CAD<br></div>
    <div id="rate-ja" class="lead col-md-4 col-xs-4 panel panel-success">USD->JPY<br></div>
    <div id="rate-cj" class="lead col-md-4 col-xs-4 panel panel-success">CAD->JPY<br></div>
  </div>
  <div class="row">
    <div id="us_gas" class="lead col-xs-4 panel panel-success">US<br></div>
    <div id="canada_gas" class="lead col-xs-4 panel panel-success">Canada<br></div>
    <div id="japan_gas" class="lead col-xs-4 panel panel-success">Japan<br></div>
  </div>
</div>

<script>
$(function(){
  $.ajax({
    type: 'GET',
    url: 'http://api.fixer.io/latest?base=USD&symbols=USD,CAD,JPY',
    dataType: 'jsonp',
    jsonp: 'callback'
  })
  .then(
    function(data){
      var rate_ca = parseFloat(JSON.stringify(data["rates"]["CAD"]));
      var rate_ja = parseFloat(JSON.stringify(data["rates"]["JPY"]));

      $("#rate-ca").html("").append("USD->CAD<br>" + rate_ca + "¢");
      $("#rate-ja").html("").append("USD->JPY<br>" + rate_ja + "円");

      $.ajax({
        type: 'GET',
        url: 'http://api.fixer.io/latest?base=CAD&symbols=JPY',
        dataType: 'jsonp',
        jsonp: 'callback'
      })
      .then(
        function(data){
          var rate_cj = parseFloat(JSON.stringify(data["rates"]["JPY"]));

          $("#rate-cj").html("").append("CAD->JPY<br>" + rate_cj + "円");
        },
        function(){
          alert("failed to get api.");
        }
      )

      $("#gas").focus();
    },
    function(){
      alert("failed to get api.");
    }
  )
})

$('#convert').on('click', function(){
  var price = $('#gas').val();
  var val = Number(price) || 0;

  $.ajax({
    type: 'GET',
    url: 'http://api.fixer.io/latest?base=USD&symbols=USD,CAD,JPY',
    dataType: 'json'
  })
  .then(
    // successの時のコールバック
    function(data){
      var rate_ca = parseFloat(JSON.stringify(data["rates"]["CAD"]));
      var rate_ja = parseFloat(JSON.stringify(data["rates"]["JPY"]));
      var price_per_litter = price / 3.8;
      var price_us = Math.round(price_per_litter * 1000) / 10;
      var price_ca = Math.round(price_per_litter * rate_ca * 1000) / 10;
      var price_ja = Math.round(price_per_litter * rate_ja * 10) / 10;

      $("#rate-ca").html("").append("USD->CAD<br>" + rate_ca + "¢");
      $("#rate-ja").html("").append("USD->JPY<br>" + rate_ja + "¢");
      $("#us_gas").html("").append("US<br>" + price_us + "¢");
      $("#canada_gas").html("").append("Canada<br>" + price_ca + "¢");
      $("#japan_gas").html("").append("Japan<br>" + price_ja + "円");

      $("#gas").focus();
    },
    // error時のコールバック
    function(){
      alert('failed to get api.');
    }
  )
});
</script>
