<div class="row  mx-auto">

  <div class="login-form-frame col-4">

    <div class="col">
      <%= form_for :session, {url: login_path} do |f| %>
      <div class="form-group">
        <%= f.email_field :email, placeholder: 'E-mail address', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
        <%= link_to "forget password", new_password_reset_path %>
      </div>

        <%= f.submit "Login", class: 'btn btn-primary btn-block' %>

      <div class="checkbox">
        <%= f.label :remember_me, class: "checkbox" do %>
          <%= f.check_box :remember_me %>
          <span>Save password</span>
        <% end %>
      </div>

        <%= link_to 'Register now', signup_path, class: 'btn btn-warning btn-block' %>
      <% end %>
    </div>

  </div>
</div>
