<%= link_to image_tag(image_url("logo.png"), width: 220), 'https://gamba.ca/', id: "logo", class: "navbar-brand" %>

<p>Hello,<%= @user.name %>.</p>

<p>Welcome to gamba!</p>

<p>
Click below link and complete register.<br>
</p>

<p>
<%= link_to edit_account_activation_url(@user.activation_token, email: @user.email), edit_account_activation_url(@user.activation_token, email: @user.email) %>
</p>




<p>
Information：gamba! Support desk<br>
URL： <%= link_to "https://gamba.ca/faq/", "https://gamba.ca/faq/" %><br>
E-mail： gamba150ca@gmail.com
</p>
