Hello,<%= @user.name %>.

Welcome to gamba!

Click below link and complete register.

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>

尚、ポップアップがブロックされている場合、
URLをクリックしても表示がされませんので
ブロックされている場合はポップアップの許可をお願いいたします。

以下のURLで、ご利用上のご質問にお答えしております。
https://gamba.ca/faq/

登録がうまくいかない場合はご連絡下さい。
support-gamba@gmail.com




Information：gamba! Support desk
URL： https://gamba.ca/
E-mail： gamba150ca@gmail.com
