<%= page_entries_info @records %>

<table class="table table-striped table-hover">
  <tbody>
  <% @records.each do |rec| %>
    <tr>
      <td class="col-md-2"><%= rec.day %></td>
<%
begin
  area_name = rec.area.name
rescue
  area_name = ""
end

begin
  route_name = rec.route.name
  route_grade = rec.route.grade
rescue
  route_name = ""
  route_grade = ""
end

result_span =
  case rec.result
  when "Onsight"
    "primary"
  when "Flash"
    "info"
  when "Send"
    "success"
  when "Project"
    "default"
  end
%>
      <td class="col-md-9"><%= link_to "#{rec.rock.name} / #{area_name} / #{route_name}(#{route_grade})", record_path(rec.id) %></td>
      <td class="col-md-1"><span class="label label-<%= result_span %>"><%= rec.result %></span></td>
    </tr>
  <% end %>
  </tbody>
  <p><%= "You have #{@records.count} records." %></p>
</table>

<div class="col-md12">
  <%= paginate @records %>
</div>
