<ul class="list-group">
  <% @lines.each do |line|
    grade = line[0]
    set = line[1]
  %>
    <li class="list-group-item">
      <%= grade %><br><hr>
      <% set.each do |se| %>
      <div class="col-md-offset-1">
        <% se.each_with_index do |s, i| %>
          <% if i == 1 %>
            <%= s %>
          <% elsif i == 2 %>
            <a href="#"><span class="badge"><%= s %></span></a><br>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </li>
  <% end %>
</ul>
