<h1>Register</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <%= form_for @user, html: {class: 'form-horizontal'} do |u| %>
    <%= render 'shared/error_messages' %>

    <div class="form-group">
      <%= u.label :name, "Name", class: 'col-sm-3 control-label' %>
      <div class="col-md-7">
        <%= u.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= u.label :user_name, "User name", class: 'col-sm-3 control-label' %>
      <div class="col-md-7">
        <%= u.text_field :user_name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= u.label :email, "E-mail", class: 'col-sm-3 control-label' %>
      <div class="col-md-7">
        <%= u.text_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= u.label :password, "Password", class: 'col-sm-3 control-label' %>
      <div class="col-md-7">
        <%= u.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= u.label :password_confirmation, "Password(confirmation)", class: 'col-sm-3 control-label' %>
      <div class="col-md-7">
        <%= u.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= u.submit "Submit", class: "btn btn-primary btn-lg" %>
    </div>

  <% end %>
  </div>
</div>
