<h3><%= @user.user_name %></h3>

<button class="btn btn-danger">
<%= link_to "Logout", logout_path, method: :delete, style: "color: white" %>
</button>
<% if current_user.admin? %>
<div class="btn-group dropup">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-cog fa-lg"></i>
  </button>
  <div class="dropdown-menu">
    <%= link_to "Region master", regions_path, class: "dropdown-item", style: "color: black" %>
    <%= link_to "Rock master", rocks_path, class: "dropdown-item", style: "color: black" %>
    <%= link_to "Area master", areas_path, class: "dropdown-item", style: "color: black" %>
    <%= link_to "Route master", routes_path, class: "dropdown-item", style: "color: black" %>
    <div class="dropdown-divider"></div>
    <%= link_to "User master", users_path, class: "dropdown-item", style: "color: black" %>
  </div>
</div>
<% end %>

<ul class="nav nav-tabs">
  <li class="active"><%= link_to 'All records', "#all_records", data: {toggle: 'tab'} %></li>
  <li><%= link_to 'Grouped by grades', "#grades", data: {toggle: 'tab'} %></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="all_records">
    <%= render 'users/records' %>
  </div>
  <div class="tab-pane" id="grades">
    <%= render 'users/records_grades' %>
  </div>
</div>
