<div class="col-md-12 col-sm-12">
  <%= form_for @record, html: {class: 'form-horizontal'} do |f| %>

    <div class="form-group" id="record_kind_box">
      <%= f.label "Type", class: 'col-md-1 col-sm-1' %>
      <div class="col-md-8 col-sm-8">
        <label class="radio-inline">
          <% params[:kind] == '0' ? checked = {:checked => true} : checked = nil %>
          <%= radio_button_tag :kind, 0, checked %>Sport
        </label>
        <label class="radio-inline">
          <% params[:kind] == '1' ? checked = {:checked => true} : checked = nil %>
          <%= radio_button_tag :kind, 1, checked %>Boulder
        </label>
        <label class="radio-inline">
          <% params[:kind] == '2' ? checked = {:checked => true} : checked = nil %>
          <%= radio_button_tag :kind, 2, checked %>Crack
        </label>
        <label class="radio-inline">
          <% params[:kind] == '3' ? checked = {:checked => true} : checked = nil %>
          <%= radio_button_tag :kind, 3, checked %>Trad
        </label>
      </div>
    </div>

    <div class="form-group" id="record_region_box" style="display:none">
      <%= f.label "Route", class: 'col-md-1 col-sm-1' %>
      <div class="col-md-11 col-sm-11" id="record_region">
        <%=
          collection_select(
            :region,
            :id,
            Region.where(able: true),
            :id,
            :name,
            {selected: @region_id},
            class: "form-control"
          )
        %>
      </div>
    </div>

    <div class="form-group" id="record_rock_box" style="display:none">
      <%= f.label " ", class: 'col-md-1 col-sm-1' %>
      <div class="col-md-11 col-sm-11" id="record_rock">
        <%= f.collection_select( :rock_id, Rock.all, :id, :name, {include_blank: 'Select rock'}, {class: "form-control"} ) %>
      </div>
    </div>

    <div class="form-group" id="record_area_box" style="display:none">
      <%= f.label " ", class: 'col-md-1 col-sm-1' %>
      <div class="col-md-11 col-sm-11" id="areas_select">
      <%= render partial: 'areas', locals: {rock_id:
      begin
        @record.rock_id
      rescue
        Rock.first.id
      end
      } %>
      </div>
    </div>

    <div class="form-group" id="record_route_box" style="display:none">
      <%= f.label " ", class: 'col-md-1 col-sm-1' %>
      <div class="col-md-11 col-sm-11" id="routes_select">
        <%= render partial: 'routes', locals: {area_id:
        begin
          @record.area_id
        rescue
          Area.first.id
        end
        } %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Date", class: 'col-md-1 col-sm-1' %>
      <div class="col-md-3 col-sm-3">
        <%= f.date_field :day, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Result", class: 'col-md-1 col-sm-1' %>
      <div class="col-md-3 col-sm-3">
        <%= f.select :result, ['Onsight', 'Flash', 'Send', 'Project'], {include_blank: 'Select result'}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Comment", class: 'col-md-1 col-sm-1' %>
      <div class="col-md-11 col-sm-11">
        <%= f.text_area :memo, {class: 'form-control', rows: 6} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Image", class: 'col-md-1 col-sm-1' %>
      <div class="col-md-3 col-sm-3 picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
    </div>

    <div class="form-group">
      <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
        <%= f.submit "Update", class: 'btn btn-primary btn-block' %>
      </div>
    </div>

  <% end %>
</div>

<script type="text/javascript">
$('#record_picture').bind('change', function() {
  var size_in_megabytes = this.files[0].size/1024/1024;
  if (size_in_megabytes > 5) {
    alert('Maximum file size is 5MB. Please choose a smaller file.');
  }
});
</script>
