<%=
  collection_select(
    :record,
    :rock_id,
    Rock.joins(:areas => :routes).where("routes.kind = ? and rocks.region_id = ?", kind, region_id).uniq,
    :id,
    :name,
    {include_blank: 'Select rock'},
    {class: "form-control"}
  )
%>
