<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= "#{@record.route.name} (#{@record.route.grade}) (Editing)" %></h3>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
