<!--
<div class="container side-bar col-md-3 col-sm-3">
  <%= render "regions/search" %>
</div>

<div class="col-md-12 col-sm-12">
  <div class="col-md-7 col-sm-7">
    <h3>Records  <small><%= page_entries_info @records %></small></h3>
  </div>

  <div class="col-md-5 col-sm-5">
    <%= form_tag records_path, {method: "get", class: "navbar-form navbar-left", role: "search"} do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], {class: 'form-control', placeholder: 'Route/Probrem'} %>
      </div>
      <%= submit_tag "Search", {:name => nil, class: 'btn btn-default'} %>
    <% end %>
  </div>
-->
  <table class="col-12 table">
    <tbody>
    <% @records.each do |rec| %>
      <tr><td class="post">
          <div class="col-12 post">
            <div class="row align-items-center">
              <div class="col-12 clearfix">
                <b class="uname"><%= link_to rec.user.user_name, user_path(rec.user_id) %></b>
                <button class="btn float-right"><i class="fas fa-ellipsis-v"></i></button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-12 pict">
              <% if rec.picture? %>
              <%= image_tag(rec.picture.url, :class => "img-fluid") %></div>
              <% else %>
              <p class="no-img-thumbnail">No<br>Image</p></div>
              <% end %>
                <div class="col desc-box">
                  <div class="date"><p><%= rec.day %></p></div>
<%
begin
  area_name = rec.area.name
rescue
  area_name = ""
end

begin
  route_name = rec.route.name
  route_grade = rec.route.grade
rescue
  route_name = ""
  route_grade = ""
end

result_span =
  case rec.result
  when "Onsight"
    "primary"
  when "Flash"
    "info"
  when "Send"
    "success"
  when "Project"
    "default"
  end
%>
                  <div class="route-grade-result"><p><%= "#{route_name} (#{route_grade})" %><span><%= rec.result %></span></p></div>
                  <div class="area"><p><%= "#{rec.rock.region.name} / #{rec.rock.name} / #{area_name}" %></p></div>
                  <div class="actions-favs">
                      <button class="btn btn-link"><span class="glyphicon glyphicon-star"></span></button>
                      <button class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></button>
                  </div>
                  <div class="desc"><p class="text_overflow"><%= rec.memo %></p>
                  </div>
                  <div class="comms">8件のコメント</div>
                </div>
              </div>
            </div>
          </td></tr>
          <% end %>
        </tbody>
      </table>

  <div class="col-md-12 col-xs-12">
    <%= paginate @records %>
  </div>
</div>
