<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= "#{@record.route.name} (#{@record.route.grade})" %></h3>

  </div>
  <div class="panel-body">
    <%= "#{@record.rock.name} / #{@record.area.name}" %>
    <p><%= @record.day %></p>
    <p><%= @record.result %></p>
    <p><%= @record.memo %></p>
  </div>
</div>

<p>
<%
begin
if @record.user_id == current_user.id
%>
<%= link_to 'Edit', edit_record_path(@record.id), class: 'btn btn-primary' %>
<% end %>
<%
rescue
end
%>
<%= link_to 'Back', records_path, class: 'btn btn-default' %>
</p>
