<h1>Rock Master</h1>

<% if current_user.admin? %>
  <%= form_tag import_rocks_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "import" %>
  <% end %>
<% end %>

<ul>
  <% @rocks.each do |rock| %>
    <li><%= link_to rock.name, rock_path(rock.id) %></li>
  <% end %>
</ul>
