<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for @rock do |f| %>

    <%= f.label "Name" %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.hidden_field :region_id, :value => params[:region_id], class: 'form-control' %>

    <%= f.submit "Submit" %>
  <% end %>
  </div>
</div>
