<h1>Area Master</h1>

<% if current_user.admin? %>
  <%= form_tag import_areas_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "import" %>
  <% end %>
<% end %>

<ul>
  <% @areas.each do |area| %>
    <li><%= link_to area.name, area_path(area.id) %></li>
  <% end %>
</ul>
