<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for @area do |f| %>

    <%= f.label "Name" %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.hidden_field :rock_id, :value => params[:rock_id], class: 'form-control' %>

    <% region_id = params[:region_id] %>
    <%= hidden_field_tag 'region[region_id]', region_id, class: 'form_control' %>

    <%= f.submit "Submit" %>
  <% end %>
  </div>
</div>
