<tr class="route area_id_<%= route.area_id %>" id="route_<%= route.id %>">
<% if current_user %>
  <td><%= link_to route.name, new_record_path(params: {area_id: route.area_id, route_id: route.id, kind: route.kind}), :method => :get %></td>
<% else %>
  <td><%= route.name %></td>
<% end %>
  <td><%= route.grade %></td>
  <td><span class="rate rate<%= route.rate %>"></span></td>
</tr>
