<h1>Route Master <small class="text-muted">(<%= @routes.count %> routes)</small></h1>

<% if current_user.admin? %>
  <%= form_tag import_routes_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "import" %>
  <% end %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <td>ID</td>
      <td>Rate</td>
      <td>Grade</td>
      <td>Name</td>
    </tr>
  </thead>
  <%
  area_id = ""
  i = 0
  @routes.each do |route|
    siblings_count = @routes.where(area_id: route.area_id).count
    if area_id == nil
      area_id = route.area_id
      i += 1
    elsif area_id != route.area_id
      i = 0
      begin
        area_name = route.area.name
      rescue
        area_name = ""
      end
  %>
    <tr class="bg-warning area" id="area_<%= route.area_id %>"><td colspan="5"><%= area_name %></td></tr>
    <div id="<%= route.area_id %>">
  <%
      area_id = route.area_id
    else
      area_id = route.area_id
      i += 1
    end
  %>
      <tr class="route_of_area_<%= area_id %>">
        <td class="col-md-1 col-sm-1"><%= route.id %></td>
        <td class="col-md-2 col-sm-2"><span class="rate rate<%= route.rate %>"></span></td>
        <td class="col-md-1 col-sm-1"><%= route.grade %></td>
        <td class="col-md-7 col-sm-7"><%= link_to route.name, route_path(route.id) %></td>
      </tr>
    <%
    if i == siblings_count - 1
    %>
    </div>
    <%
    end
    %>
  <% end %>
</table>
