<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for @route do |f| %>

    <%= f.label "Name" %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label "Grade" %>
    <%= f.text_field :grade, class: 'form-control' %>

    <%= f.label "Rate(0~5)" %>
    <%= f.number_field :rate, class: 'form-control' %>

    <div>
      <label class="radio-inline">
        <%= f.radio_button :kind, 0 %>Sport
      </label>
      <label class="radio-inline">
        <%= f.radio_button :kind, 1 %>Boulder
      </label>
      <label class="radio-inline">
        <%= f.radio_button :kind, 2 %>Crack
      </label>
      <label class="radio-inline">
        <%= f.radio_button :kind, 3 %>Trad
      </label>
    </div>

    <%= f.hidden_field :area_id, :value => params[:area_id], class: 'form-control' %>

    <% region_id = params[:region_id] %>
    <%= hidden_field_tag 'region[region_id]', region_id, class: 'form_control' %>

    <%= f.submit "Submit" %>
  <% end %>
  </div>
</div>
