/*
*
*= require_tree .
*= require_self
*/
@import "bootstrap";

body {
    padding-top: 4.2rem;
    padding-bottom: 4.5rem;
}

.main-container {
    padding: 0;
}

.head-navi {
    padding: 0;
    a {
        padding: 0;
    }
}

.logo-box {
    width: 220px;
}
