// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_contents {
    padding-right: 0 !important;
}

.post, .pict {
    padding: 0 !important;
}

.desc-box {
    padding: 15px !important;
}

.record_list_route_name {
    font-size: 2em;
}

.no-img-thumbnail {
    padding: 3em 3em;
    margin: 2em 0;
    color: #fff;
    background: #ffa500;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.no-img-thumbnail p {
    margin: 0;
    padding: 150;
}
