// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Rate by stars
$starFull: 16px; // width of star

$rate1: $starFull;
$rate2: $starFull * 2;
$rate3: $starFull * 3;
$rate4: $starFull * 4;
$rate5: $starFull * 5;

.rate{
  position: relative;
  display: inline-block;
  width: $starFull * 5;
  height: $starFull;
  font-size: $starFull;
  &:before,&:after{
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    display: inline-block;
    height: $starFull;
    line-height: $starFull;
  }
  &:before{
    color: #ddd;
  }
  &:after{
    color: #ffa500;
    overflow: hidden;
    white-space: nowrap;
  }
}

.rate0:after{ width: 0; }
.rate1:after{ width: $rate1; }
.rate2:after{ width: $rate2; }
.rate3:after{ width: $rate3; }
.rate4:after{ width: $rate4; }
.rate5:after{ width: $rate5; }

.wrap{
  width: 80px;
  margin: 0 auto;
}
