<div class="row">

  <h2>New Reocrd</h2>
  <h3>Search Routes</h3>

</div>

<div class="row region_list">
  <% @regions = Region.search(params[:search_region]).where(able: true) %>
  <table class="table table-hover regions">
  <%= render @regions %>
  </table>
</div>

<div class="row rock_list" style="display: none;">
  <% @rocks = Rock.all %>
  <table class="table table-hover rocks">
    <tr class="active" id="back_to_region"><td colspan="3"><span class="glyphicon glyphicon-chevron-left"></span>back</td></tr>
    <%= render @rocks %>
  </table>
</div>

<div class="row area_list" style="display: none;">
  <% @areas = Area.all %>
  <table class="table table-hover areas">
    <tr class="active" id="back_to_rock"><td colspan="3"><span class="glyphicon glyphicon-chevron-left"></span>back</td></tr>
    <%= render @areas %>
  </table>
</div>

<div class="row route_list" style="display: none;">
  <% @routes = Route.all %>
  <table class="table table-hover routes">
    <tr class="active" id="back_to_area"><td colspan="3"><span class="glyphicon glyphicon-chevron-left"></span>back</td></tr>
    <%= render @routes %>
  </table>
</div>
