<h1>Region Master</h1>

<% if current_user.admin? %>
  <%= form_tag import_regions_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "import" %>
  <% end %>
<% end %>

<ul>
  <% @regions.each do |region| %>
    <li><%= link_to region.name, region_path(region.id) %></li>
  <% end %>
</ul>
