<h1><%= @region.name %></h1>

  <% if current_user.admin? %>
  <div class="row">
    <p><%= link_to 'Add rock', new_rock_path(:region_id => @region.id), class: 'btn btn-primary btn-sm' %></p>
  </div>
  <% end %>

  <ul class="list-group">
    <% @region.rocks.each do |rock| %>
    <li class="list-group-item list-group-item-info">
      <div class="row">
        <div class="col-md-10"><%= rock.name %></div>
        <% if current_user.admin? %>
        <div class="col-md-1"><%= link_to 'Add area', new_area_path(:rock_id => rock.id, :region_id => rock.region_id), class: 'btn btn-primary btn-sm' %></div>
        <% end %>
      </div>
    </li>
    <ul class="list-group">
    <% rock.areas.each do |area| %>
      <li class="list-group-item list-group-item-warning head_area" id="head_area_<%= area.id %>">
        <div class="row">
          <div class="col-md-9 col-md-offset-1"><%= area.name %></div>
          <% if current_user.admin? %>
          <div class="col-md-1"><%= link_to 'Add route', new_route_path(:area_id => area.id, :region_id => area.rock.region_id), class: 'btn btn-primary btn-sm' %></div>
          <% end %>
        </div>
      </li>
      <ul class="list-group">
        <% area.routes.each do |route| %>
          <li class="list-group-item bottom_route_<%= route.area_id %>">
            <div class="row">
              <div class="col-md-offset-2"><%= "#{route.name}(#{route.grade})" %></div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
    </ul>
    <% end %>
  </ul>
